<div class="row">
  <div class="ten columns">
    <div class="panel radius">
      <h2>City binders</h2>
      <h4>Click on name to edit and delete</h4>
    </div>
  </div>
  <div class="two columns">
    <div class="panel radius">
      <%= link_to 'Create new binder', new_binder_path %>
      <br>
    </div>
  </div>
</div>


<div class="row">
  <div class="one columns"></div>
  <div class="eleven columns">
    <% @binders.each do |binder| %>
    <h4>Name:  <%= link_to(binder.name, binder) %></h4>
    <h5>Description: <%= binder.description %></h5>
    <% end %>
  </div>
</div>