<div class="row">
  <div class="ten columns">
    <div class="panel">
      <h2>Cached cities</h2>
      <p>These cities are in our database. Click the hell out of them.</p>
    </div>
  </div>
</div>

<% @demographics.each do |demographic| %>
  <h5><%= link_to(demographic.city,demographic) %></h5>
<% end %>