<div class="row">
  <div class="twelve columns">
    <div class="radius panel">
      <h2>Cached cities</h2>
      <h3></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="one columns"></div>
  <div class="eleven columns">
<% @demographics.each do |demographic| %>
  <h5><%= link_to(demographic.city,demographic) %>, <%= demographic.state %></h5>
<% end %>
</div>

</div>