body {
  background: #fff url('grey.png')
}

p, li {
  color: black;
}

ul {
list-style-type: none;
}
.nav-bar {
  background: #900707;
}

.button {
  background-color: black;
}

.button:hover,
.button:focus {
  background-color: #900707;
}

footer {
  margin-top: 300px;
}
