@import url(http://fonts.googleapis.com/css?family=Rokkitt);

body {
  background: #fff url('hexabump.png');
}

header h1 {
  font-family: 'Rokkitt', serif;
  font-size: 60px;
  color: white;
  line-height: 18px;
  padding-top: 8px;
}

h2 {
    font-family: 'Rokkitt', serif;
  }
.panel.radius {
  background-color: grey;
}

h4, h5 {
  color: white;
}

.panel h4,h5 {
  color: black;
}

label,h5 {
  color:white;
}

p, li {
  color: white;
  line-height: 15px;
}

.demo li{
  color: white;
}

ul {
list-style-type: none;
}
.nav-bar {
  background: #900707;
}

.button {
  background-color: black;
}

.button:hover,
.button:focus {
  background-color: #900707;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.white {
  color: white;
}

.city_list {
  font-size: 30px;
}

footer {
  margin-top: 300px;
}